<section id="tabs--{{ section.id }}" class="pdp-tabs">
    <h2>{{section.settings.heading}}</h2>
  <div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1"><i class="fa fa-sun-o"></i> SunShine</a></li>
        <li><a href="#tab2"> <i class="fa fa-users"></i> Become A Member</a></li>
        <li><a href="#tab3"><i class="fa fa-heart"></i> Volunteer</a></li>
        <li><a href="#tab4"><i class="fa fa-money"></i> Donate</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <h4>Tab One</h4>
            <p>We dont need a bottle of anti-aging cream because we have a program on Wards Island three programs in St. Jamestown that are a breath of fresh air for Toronto Community Housing residents, and a hub of activity at our central location at Yonge and Bloor. An inner glow shines from the faces of seniors as they share a home-cooked meal with their friends, when they finish a work-out at our feisty fitness class, and as they enjoy the ferry ride home after a fun-filled day at Camp Sunshine on Wards Island.What makes Sunshine Centres so special? It might be a ray of sunshine dappling over our programs, or our welcoming atmosphere where seniors from all walks of life find friends and community. Whether you call it a seniors social, recreational and health promotion program a multicultural and lesbian, gay, bisexual, and transgendered friendly atmosphere; or a fun place to volunteer - its always a great place to be! </p>
        </div>
 
        <div id="tab2" class="tab">
            <h4>Become A Member</h4>
            <p>Become a member of Sunshine Centres for Seniors and be part of an exciting and growing organization. Members enjoy a subscription to our member's newsletter The Sunshine Times, invitations to events and functions throughout the year, and the ability to vote at our Annual General Meeting each year. Membership to Sunshine Centres is a great way to show your support for our programs and to become part of a caring community that is committed to improving the lives of seniors Membership to join Sunshine Centres is free, and is open to everyone. To join, please fill out the application form below and return it by fax or mail.
        </div>
 
        <div id="tab3" class="tab">
            <h4>Volunteer</h4>
            <p><b>Why volunteer with Sunshine Centres?</b></p>
            <P>“I like the nice people I work with. I enjoy the fresh air and socializing. All year long we look forward to going to the Island.” -Gae Marco, volunteer and participant</p>
           <ul>
              <li>Five locations in Toronto, including our program on Ward’s Island in the summer.</li>
              <li>A warm, relaxed atmosphere with lots of fun activities!</li>
              <li>The chance to work with and support seniors who are at risk for isolation.</li>
              <li>A supportive environment where you can share your talents and skill set.</li>
              <li>All ages are welcome: youth, adults and seniors</li>
           </ul>
           <p>Join Sunshine Centre’s vibrant community of volunteers and make a difference in seniors’ lives! Many of our volunteers are seniors themselves- we have a team of over 60 senior volunteers who make important contributions to Sunshine Centres through helping out with programs, serving or preparing food, sitting on committees, accompanying seniors with disabilities to Ward’s Island, gardening, and fundraising. “Volunteering at 460 Jarvis keeps me busy and I always enjoy volunteering, especially here because I get to help cook.” -Annette O’Connor, volunteer and participant</p>
           <p>Seniors play a very important role at Sunshine Centres-not only as participants in our programs, but as the dedicated volunteers who make our programs possible every year. People of all ages and backgrounds are welcome to volunteer, including youth/students and seniors. Your volunteer schedule can be very flexible, and we welcome our senior volunteers to</p>
           <p>join our programs as participants as well. Some participants choose to volunteer one day and just enjoy the program the next. If you are an older adult or know an older adult who would benefit from volunteering in a supportive, friendly and inclusive environment, please get in touch. Volunteering with Sunshine Centres is a great way to stay active, become connected to new friends and help about 1,500 isolated seniors every year. “I’ve been involved with Sunshine Centres since 1959. I used to live on Centre Island. I like singing and exercises and the good lunch! I look forward to seeing people I know here.” -Ann-Lese De Haas, volunteer and participant.</p>
        </div>
 
        <div id="tab4" class="tab">
            <p> Sunshine Centres for Seniors relies on the donations of individuals and foundations across every year. Because of the generosity of our donors, over 1,300 isolated seniors from across Toronto are able to stay active and connected, enjoy companionship and find support with the many challenges of aging.</p>
            <p>Your donations to Sunshine Centres allow us to continue providing much-needed programs to seniors in Toronto. Thanks to the continued support of our donors, we are able to expand and meet the growing need for low-cost social, recreational, and health promotion programs for seniors.</p>
            <p>Sunshine Centres is a registered Canadian charitable organization.
            Business Number 11920 5268 RR 0001.
            We issue charitable tax receipts for any donations over $10. Donations can be made online through Canada Helps, or you can also send a cheque to our office at:</p>
            <p><b>1033 Pape Avenue, Unit 10,Toronto, ON M4K 3W1.</b></p>
            <p><b>Thank You for Your support!</b></p>
        </div>

    </div>

</div>
</section>
{% schema %}
  {
    "name": "PDP Tab Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "presets": [
      {
        "name": "PDP Tab Section",
        "settings": {}
      }
    ]
  }
{% endschema %}