<section id="product-feature">
<div class="product-feature">
  <div class="content">
    <div class="content-items"></div>
  </div>
</div>
</section>


{% schema %}
  {
    "name": "Product Features",
    "settings": [],
    "presets": [
      {
        "name": "Product Features"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}