.main-blog .article-card__image.media{
    position: unset!important;
}

.main-blog .card__inner *{
    width: 100%;
}
body.blog .main-blog{
    padding: 0 16px!important;
}
.main-blog h1{
    font-size: 50px;
    font-weight: 700;
}
.blog-articles.blog-articles--collage{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-end;
}

.blog-articles.first-article, .blog-articles.first-article a img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.blog-articles.other-article a, .blog-articles.other-article a img{
    display: block;
}
.blog-articles.other-article a img{
    width: 100%;
}
.blog-articles.first-article .content-wrap{
    margin-top: 30px;
    max-width: 48%;
}
.content-wrap .card__heading{
    margin: 10px 0;
}
.content-wrap .card__heading a{
    font-weight: bold;
    font-size: 20px;
}
.content-wrap .article-excerpt{
    font-size: 16px;
    line-height: normal;
}
.content-wrap .author{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 15px;
    color: #000;
}
.blog-articles.first-article .content-wrap h3 a{
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
}

.blog-articles.first-article .article-excerpt{
    font-size: 22px;
    color: #000;
    line-height: normal;
    margin-top: 25px;
}

.blog-articles.first-article .readmore-btn{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.blog-articles.first-article .readmore-btn svg{
    margin-left: 15px;
    margin-top: 3px;
}

.blog-articles.other-article{
    width: calc(33.33% - 18px);
    margin-right: 18px;
    margin-bottom: 18px;
}
.other_grid_list{
    display: flex;
    flex-wrap: wrap;
    width: calc(80% - 18px);
    justify-content: flex-start;
    list-style-type: none;
    margin-right: -18px;
}
.main-list-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
}
.main-list-wrap aside{
    width: calc(20% - 18px);
}
.blog .pagination-wrapper{
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.blog .pagination-wrapper .pagination__list{
    justify-content: flex-start;
}
.blog .pagination-wrapper .pagination__list li{
    width: 32px;
    margin-right: 0;
    flex: unset;
}
.blog .pagination-wrapper .pagination__list li:hover a{
    background-color: #E5E7EB;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.blog .pagination-wrapper .pagination__list li a:after{
    display:none;
}
.blog .pagination-wrapper .pagination__list li a.pagination__item--current:after{
    display:block;
}